<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
	
	<bean id = "employee" class = "com.oocl.burgoka.sw3.EmployeeDetails">
    	<property name = "empName" value = "Katrina Burgos"/>
    	<property name = "empRole" value = "Sleeper"/>
    	<property name = "empId" value = "201205496"/>
	</bean> 
	  
</beans>    


    